*{
    font-family: 'Varela Round', sans-serif;
}

 body {
    background-color: rgb(197, 199, 191);    

}

.lines {
    pointer-events: none;
    background: url('your_transparent.png');
    background-color: rgba(204, 23, 23, 0);
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}

#vll {
    position: absolute;
    top: 5%;
    left: 34%;
    border-left: 2px solid rgb(0, 0, 0);
    height: 90%;
}

#vlr {
    position: absolute;
    top: 5%;
    left: 65%;
    border-left: 2px solid rgb(0, 0, 0);
    height: 90%;
}

#hlb {
    position: absolute;
    top: 34%;
    left: 5%;
    border-top: 2px solid rgb(0, 0, 0);
    width: 90%;
}

#hlt {
    position: absolute;
    top: 65%;
    left: 5%;
    border-top: 2px solid rgb(0, 0, 0);
    width: 90%;
}

.container {
    background-color: rgb(212, 200, 176);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='40' ry='40' stroke='black' stroke-width='25' stroke-dasharray='1%2c 2' stroke-dashoffset='40' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 40px;
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    padding: 1%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    
    grid-template-areas: 
    "top top top" 
    "mid mid mid"
    "bot bot bot";

}

.cell {
    background-color: rgba(163, 163, 163, 0);
    height: 98%;
    width: 98%;
    line-height: 115px;
    font-size: 68px;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    align-self: center;
    place-self: center;
}

#aloitusNappi {
    background-color: rgb(192, 105, 23);
    height: 50px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    cursor: pointer;
    border: double 4px;
}

#start {
    position: absolute;
    left: 17%;
}

#ilmoitus {
    background-color: rgba(134, 150, 173, 0.87);
    border-radius: 40px;
    height: 368px;
    width: 368px;
    z-index: 2;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
}


#ilmoitusNappi {
    background-color: rgb(192, 105, 23);
    height: 15px;
    width: 30px;
    justify-self: center;
    align-self: end;
}